.hero-home {
    background: url(../img/banner-home.png) no-repeat center;
    background-size: cover;
}

.hero-home .hero-line {
    width: 80%;
    max-width: 400px;
    height: 3px !important;
    margin: 0 auto 16px;
    color: var(--secondary-color);
    opacity: 1;
    background-color: var(--secondary-color);
}

.hero-home p {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400px;
}

.hero-home h1 {
    text-transform: uppercase;
    margin: 32px 0;
    
}

.card {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.home-cards {
    margin: 24px auto 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    align-content: center;
}

.home-cards .card .card-title {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.home-cards .card hr {
    color: var(--primary-color);
}

.home-cards .card .card-text {
    color: var(--primary-color);
}

.home-description {
    text-align: center;
}

.home-description .home-description-emphasis {
    color: var(--secondary-color);
    font-weight: 600;
}

.home-solutions {
    background-color: var(--primary-color);
    color: var(--white);
    text-align: center;
    margin-bottom: 0;
    padding: 32px 0;
}

.home-solutions .brands {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(64px, 64px);
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 32px;
}

.home-solutions .img-brands {
    max-height: 80px;
    width: 125px;
    margin: 0 auto;
}

.home-solutions .img-brands-short {
    height: 64px;
    width: auto;
    margin: 0 auto;
}

.home-solutions .img-brands-center {
    grid-column: span 2;
}

.home-solutions ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-solutions ul span {
    font-weight: 600;
}

@media screen and (min-width:768px) {
    .home-solutions {
        background: url(../img/bg-home-tablet.jpg) no-repeat center; 
        background-size: cover;
    }

    .home-solutions .brands {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .home-solutions .img-brands-center {
        grid-column: auto;
    }
}

@media screen and (min-width:992px) {    
    .hero-home-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }

    .hero-home .hero-line {
        margin: 0 0 16px;
        width: 230px;
        height: 3px !important;
        color: var(--secondary-color);
        opacity: 1;
        background-color: var(--secondary-color);
    }

    .home-cards {
        flex-direction: row;
        margin: -50px auto 0;
        justify-content: space-between;
    }

    .home-cards .card {
        width: 33%;
    }

    .home-solutions .brands {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width:1200px) {
    .home-solutions {
        background: url(../img/bg-home-desktop.jpg) no-repeat;
        background-size: cover;
    }
}
