.hero-services {
    background-image: linear-gradient(#f2902040, #F2912040), url(../img/airplane-and-two-trucks.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}

.services-container {
    background-color: var(--primary-color);
    color: var(--white);
}

.services-container .container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.services-container h3 {
    font-size: 18px;
}

.services-container img {
    margin-left: 16px;
}

.why-choose-container .container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.services-form {
    background-color: var(--primary-color);
    color: var(--white);
    margin-bottom: 0;
    text-align: center;
}

.services-form form {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 350px;
    margin: 0 auto;
}

.services-form form input,
.services-form form textarea {
    border-radius: 8px;
    margin-bottom: 16px;
    border: 1px solid var(--white);
    padding: 8PX;
}

.services-form form textarea {
    resize: none;
}

@media screen and (min-width:992px) {
    .services-container .container {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        gap: 0;
    }

    .why-choose-container .container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}